{% extends 'base3.html' %}
{% block title %} sanction_add_done.html {% endblock %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Sanction List에 성공적으로 추가되었습니다!</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<div>
    <center>
        <br><br>
        <a href="{% url 'sanction:sanction_list' %}" class="btn btn-primary">List로 이동</a>
    </center>
</div>
{% endblock %}