{% extends 'base.html' %}
{% block title %} sanction_list.html {% endblock %}
{% load static %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th><center>id</center></th>
            <th><center>name</center></th>
            <th><center>type</center></th>
            <th><center>program</center></th>
        </tr>
    </thead>
    <tbody>
    {% for sanction in sanctions %}
    <tr>
        <td><center>{{ sanction.id }}</center></td>
        <td><center>{{ sanction.name }}</center></td>
        <td><center>{{ sanction.type }}</center></td>
        <td><center>{{ sanction.program }}</center></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if sanctions.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{sanctions.previous_page_number }}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="#">{{sanctions.number}}/{{sanctions.paginator.num_pages}}</a>
                </li>
                {% if sanctions.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{sanctions.next_page_number }}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">다음으로</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
