{% extends 'base.html' %}
{% block title %} sanction_list.html {% endblock %}
{% load static %}

{% block content %}
<div>
    <pre>


    </pre>
</div>
<table class="table table-striped" align="center">
    <thead>
        <tr>
            <th><center>ID</center></th>
            <th><center>Name</center></th>
            <th><center>Type</center></th>
            <th><center>Program</center></th>
            <th><center>Action</center></th>
        </tr>
    </thead>
    <tbody>
    {% for sanction in sanctions %}
    <tr>
        <td><center>{{ sanction.id }}</center></td>
        <td><center>{{ sanction.name }}</center></td>
        <td><center>{{ sanction.type }}</center></td>
        <td><center>{{ sanction.program }}</center></td>
        <td>
            <center>
                <a href="#" class="btn btn-warning" style="line-height:0.5">Edit</a>
                <form action="{% url 'sanction:sanction_delete' sanction.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" style="line-height:0.5" value="Delete">
                </form>
            </center>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="container">
    <div class="row justify-content-end">
         <div class="col-2">
            <a class="btn btn-dark" href="{% url 'sanction:sanction_add' %}">Add</a>
        </div>
        <div class="col-7">
            <div class="page-wrapper">
                <ul class="pagination justify-content-center">
                    <!-- 이전 페이지 -->
                    {% if sanctions.has_previous %}
                    <li class="page-item">
                        <a href="?page=1" class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?{% if q %}q={{q}}&{% endif %}page={{ sanctions.previous_page_number }}"
                           tabindex="-1">&lt;
                        </a>
                    </li>
                    {% endif %}
                    <!-- 페이지 범위 및 현재 페이지 -->
                    {% for page in paginator_range %}
                    {% if sanctions.number == page %}
                    <li class="page-item active">
                        <span class="page-link">{{ page }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?{% if q %}q={{q}}&{% endif %}page={{ page }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <!-- 다음 페이지 -->
                    {% if sanctions.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% if q %}q={{q}}&{% endif %}page={{ sanctions.next_page_number }}">&gt;</a>
                    </li>
                    <li class="page-item">
                        <a href="?{% if q %}q={{q}}&{% endif %}page={{ sanctions.paginator.num_pages }}" class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-4.5">
            <form action="{% url 'sanction:result' %}" method="GET">
                {% csrf_token %}
                &nbsp;이름: <input type="search" name="q">
              <input type="submit" value="검색">
            </form>
        </div>
    </div>
</div>
{% endblock %}
