{% extends 'base3.html' %}
{% block title %} home.html {% endblock %}
{% load static %}

{% block content %}

<section class="home-slider js-fullheight owl-carousel bg-white">
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight" style="background-image:url(/assets/images/bg3.jpg);">
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text">
                        <h1 class="mb-4">Trade Document Inspection<br>Service</h1>
                        <p><a href="{% url 'document_inspection:upload' %}" class="btn btn-primary px-4 py-3 mt-3">Start</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}