<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
<!--    <title>ANTI-TBML {% block title %}{% endblock %}</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--    <header class="header clearfix">-->
<!--        <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--            <a class="navbar-brand" href="/">ANTI-TBML</a>-->
<!--            <ul class="nav">-->
<!--                <li class="nav-item"><a href="/" class="active nav-link ">Home</a></li>-->
<!--                {% if user.is_authenticated %}-->
<!--                <li class="nav-item"><a href="#" class="nav-link">Welcome, {{user.get_username}}</a></li>-->
<!--                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>-->
<!--                {% else %}-->
<!--                <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>-->
<!--                <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Join</a></li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
<!--    {% block content %}-->
<!--    {% endblock %}-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Architects | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="manifest" href="site.webmanifest">-->
<!--    <link rel="manifest" href="/favicons/manifest.json">-->
    <link rel="manifest" href="static/favicons/manifest.json" crossorigin="use-credentials">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/hamburgers.min.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/animated-headline.css">
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<link rel="stylesheet" href="static/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="static/css/themify-icons.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<link rel="stylesheet" href="static/css/nice-select.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="static/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-10">
							<div class="main-menu black-menu menu-bg-white d-none d-lg-block">
								<div class="hamburger hamburger--collapse">
									<div class="hamburger-box">
										<div class="hamburger-inner"></div>
									</div>
								</div>
								<nav class="hamburger-menu">
									<ul id="navigation">
										<li><a href="index.html">Home</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="services.html">Services</a></li>
										<li><a href="project.html">Project</a></li>
										<li>
											<a href="blog.html">Blog</a>
											<ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog_details.html">Blog Details</a></li>
                                                <li><a href="elements.html">Element</a></li>
											</ul>
										</li>
										<li><a href="contact.html">contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
        <!--? slider-area start -->
		<div class="slider-area">
			<div class="slider-full-active owl-carousel custom-dots">
				<div class="slide-full slider-height d-flex align-items-center" style="background-image: url(static/img/hero/h1_hero.png);">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-8 col-md-7 col-sm-8">
								<div class="slide-full-content">
                                    <span>#1 aritecture in united stare</span>
									<h1>Focus on<br> Design Quality</h1>
									<p>We creating lasting impression through architecture design.</p>
									<a class="btn" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slide-full d-flex slider-height align-items-center" style="background-image: url(static/img/hero/h1_hero2.png);">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-8 col-md-7 col-sm-8">
								<div class="slide-full-content">
                                    <span>#1 aritecture in united stare</span>
									<h1>Focus on<br> Design Quality</h1>
									<p>We creating lasting impression through architecture design.</p>
									<a class="btn" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slide-full d-flex slider-height align-items-center" style="background-image: url(static/img/hero/h1_hero.png);">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-8 col-md-7 col-sm-8">
								<div class="slide-full-content">
                                    <span>#1 aritecture in united stare</span>
									<h1>Focus on<br> Design Quality</h1>
									<p>We creating lasting impression through architecture design.</p>
									<a class="btn" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slider-area end -->
        <!--? About Start-->
        <section class="about-area section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-35">
                                <span>About Us</span>
                                <h2>52 Years Of Experience in this area</h2>
                            </div>
                            <p>Brook presents your services with flexible, convenient and cdpoe layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfreplication of the designers is intended.</p>
                            <a href="about.html" class="btn">About us</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img ">
                                <img src="static/img/gallery/about1.png" alt="">
                            </div>
                            <div class="about-back-img ">
                                <img src="static/img/gallery/about2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About  End-->
        <!--? Services Area Start -->
        <section class="service-area pt-150 pb-150">
            <div class="service-bg"></div>
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                        <div class="section-tittle section-tittle3  text-center mb-90">
                            <span>Our Services</span>
                            <h2>We provide best intorior solution for you</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-null"></i>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Architecture</a></h4>
                                <p>Sorem spsum dolor sit amsectetr adipisclit, seddo eiusmod tempr incididunt laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                        <div class="services-caption active text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-null-1"></i>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Interior Design</a></h4>
                                <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-null-2"></i>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Urban Design</a></h4>
                                <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area End -->
        <!--? Popular Work Start -->
        <section class="popular-work-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Our recent work</span>
                            <h2>Our best recent popular work here</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-col-lg-6 col-md-6 col-sm-6">
                        <div class="single-cat mb-110">
                            <img src="static/img/gallery/popular1.png" alt="">
                            <div class="img-cap">
                                <h4>Downside Low House</h4>
                                <p>Melbourn, Australia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-col-lg-6 col-md-6 col-sm-6">
                        <div class="single-cat mb-110">
                            <img src="static/img/gallery/popular2.png" alt="">
                            <div class="img-cap">
                                <h4>Top Commercial Building</h4>
                                <p>Melbourn, Australia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-col-lg-6 col-md-6 col-sm-6">
                        <div class="single-cat mb-110">
                            <img src="static/img/gallery/popular3.png" alt="">
                            <div class="img-cap">
                                <h4>Big Building Concept</h4>
                                <p>Melbourn, Australia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-col-lg-6 col-md-6 col-sm-6">
                        <div class="single-cat mb-110">
                            <img src="static/img/gallery/popular4.png" alt="">
                            <div class="img-cap">
                                <h4>Downside Low House</h4>
                                <p>Melbourn, Australia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Popular Work End -->
        <!--? Experience Area Start -->
        <section class="experience-area position-relative d-flex align-items-end">
            <div class="caption-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="experience-caption">
                            <h2>Our best recent popular work here</h2>
                            <p>Brook presents your services with flexible, convenient and cdpoe layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilit.</p>
                            <a href="about.html" class="btn">About us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Experience Area End -->
        <!--? Team Start -->
        <section class="team-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Our exparts</span>
                            <h2>best team we have ever had right now</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="static/img/gallery/team2.png" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Jhon Sunsa</a></h3>
                                <span>Creative derector</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="static/img/gallery/team3.png" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Smith J White</a></h3>
                                <span>Creative derector</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="static/img/gallery/team1.png" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Jayson Brouni</a></h3>
                                <span>Creative derector</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team End -->
        <!--? All startups Start -->
        <div class="starups-area testimonial-area fix">
            <!--left Contents  -->
            <div class="starups-img">
                <div class="play-btn"><a class="popup-video" href="https://www.youtube.com/watch?v=ssBM8JaPMiw"><i class="flaticon-null-3"></i></a></div>
            </div>
            <!-- Right Contents -->
            <div class="starups">
                <!--? Testimonial Start -->
                <div class="h1-testimonial-active">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center justify-content-center mb-40">
                                <div class="founder-img">
                                    <img src="static/img/gallery/testimonial.png" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>OliQa .F jems</span>
                                    <p>Designer</p>
                                </div>
                            </div>
                            <!-- Caption -->
                            <div class="testimonial-top-cap">
                                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Qcuis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsa.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Testimonial End -->
            </div>
        </div>
        <!--All startups End -->
        <!--? Blog Area Start -->
        <section class="home-blog-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10">
                        <div class="section-tittle text-center mb-90">
                            <span>Recent blog</span>
                            <h2>All recent articals from us.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="static/img/gallery/home-blog1.png" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>24</span>
                                        <p>Now</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <p>|   Physics</p>
                                    <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                                    <a href="blog_details.html" class="more-btn">Read more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="static/img/gallery/home-blog2.png" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>24</span>
                                        <p>Now</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <p>|   Physics</p>
                                    <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                                    <a href="blog_details.html" class="more-btn">Read more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding section-bg" data-background="static/img/gallery/footer_bg.png">
            <div class="container">
                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="static/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Consectetur adipisicinhg cvelicsed do eiusmod tempor inciducvccnt ut labosvrer adipisic.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#"> Offers & Discounts</a></li>
                                        <li><a href="#"> Get Coupon</a></li>
                                        <li><a href="#">  Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>New Products</h4>
                                    <ul>
                                        <li><a href="#">Woman Cloth</a></li>
                                        <li><a href="#">Fashion Accessories</a></li>
                                        <li><a href="#"> Man Accessories</a></li>
                                        <li><a href="#"> Rubber made Toys</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Frequently Asked Questions</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Report a Payment Issue</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8 col-md-7">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-5">
                            <div class="footer-copy-right f-right">
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./static/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./static/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./static/js/wow.min.js"></script>
    <script src="./static/js/animated.headline.js"></script>
    <script src="./static/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./static/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./static/js/jquery.nice-select.min.js"></script>
    <script src="./static/js/jquery.sticky.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="./static/js/jquery.counterup.min.js"></script>
    <script src="./static/js/waypoints.min.js"></script>
    <script src="./static/js/jquery.countdown.min.js"></script>
    <script src="./static/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./static/js/contact.js"></script>
    <script src="./static/js/jquery.form.js"></script>
    <script src="./static/js/jquery.validate.min.js"></script>
    <script src="./static/js/mail-script.js"></script>
    <script src="./static/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./static/js/plugins.js"></script>
    <script src="./static/js/main.js"></script>

    </body>
</html>