<!doctype html>
{% extends 'base2.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="container-center">
    <div class="row mt-5">
        <h2>파일 업로드</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
    </form>
    {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}

</div>
<br>
<br>
<div>
</div>
</p>

{% endblock %}
