<!doctype html>
{% extends 'base3.html' %}
{% load static %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Document Inspection</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>

<br>

<div class="text-center">
    <form id="upload" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document" class="btn btn-light">
        <button type="submit" class="btn btn-light" onclick="display_clock()">Upload file</button>
    </form>
    {% if url %}
    <p>
        <h4>Scan is completed!</h4>
        <img src="{{ url }}" width="1400" height="1900">
    </p>
    {% else %}
    <div id="loader-bg">

    </div>
    {% endif %}
</div>

<script>
    function display_clock() {
        var temp = document.getElementById('loader-bg');
        temp.innerHTML =
              "<br>" +
              "<img src='/assets/images/loading_img.gif' width='80' height='80' alt='Now Loading...' />" +
              "<p>" + "Now Scanning..." + "</p>";
    }
</script>
{% endblock %}